/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
	/* -------------------- Base Styles -------------------- */
html {
		font-size: 16px;
}

body {
		font-family: 'Open Sans', sans-serif;
		font-size: 1em;
		line-height: 1.5;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
	}


h2 {
		margin-bottom: 50px;
		width: 100%;
}

h2, h3 {
		font-family: 'Poppins', sans-serif;
}

h4 {
  width: 100%;
}

figure {
		display: flex;
		align-items: center;
		margin: 0;
	}

img {
		max-width: 100%;
		height: auto;
}

ul {
		list-style: none;
		spadding: 0;
	}

	a {
			text-decoration: none;
	}


 .section {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
}

.content-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: row wrap;
		width: 90%;
}

.row {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: row wrap;
    width: 100%;
}

.hero-area, .skills-column, .about-column, .portfolio-column {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: 20px 0;
	}

hr.divider {
  width: 100%;
  border-top: 1px solid black;
  }

#section-one, #section-three {
		background: #eff5f5;
}

#section-two {
		background: #d0e2e2;
}

#skills-wrapper, #about-wrapper, #portfolio-wrapper {
		margin: 75px 0;
}
/* -------------------- Header/Footer base styles -------------------- */
#header, footer {
		background: #282828;
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: row wrap;
		width: 100%;
}

/* -------------------- Header -------------------- */
#hero-area {
		background: url("../img/hero-4.jpg") center bottom no-repeat;
		background-size: cover;
		color: #282828;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
    min-height: 400px;
}

#hero-wrapper {
	margin-bottom: 100px;
}

#hero-wrapper span {
  color: indianred;
}

#navbar  {
	background: #282828;
  display: flex;
  justify-content: center;
  width: 100%;
}

#navbar ul {
		display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-around;
		text-transform: uppercase;
}

#navbar a {
		color: #fff;
		font-family: 'Poppins', sans-serif;
		font-weight: 500;
}

#navbar a:hover {
  color: darksalmon;
}

#navbar a.active {
  background-color: #4CAF50;
  color: white;
}

/* sticky navbar */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

/* -------------------- Footer -------------------- */

#footer-wrapper {
		flex-direction: column;
		margin-top: 50px;
}

#footer-p {
		margin: 0;
}

#footer-row1 {
		padding: 20px;
}

.footer-fontawesome {
		margin: 20px;
}
.footer-fontawesome i {
		color: darksalmon;
    font-size: 1.5em;
}

/* -------------------- Section One -------------------- */
.skills-column i {
		margin-right: 10px;
		color: indianred;
}

.skills-fontawesome {
		margin: 0;
}

#skills-row {
		width: 100%;
}

#skills-ul {
	display: flex;
	flex-flow: row wrap;
}

#skills-ul li {
		padding: 0 10px;
}

/* -------------------- Section Two -------------------- */
.about-column span {
		font-weight: bold;
		color: indianred;
}

/* -------------------- Section Three -------------------- */
.portfolio-column {
		align-items: center;
		justify-content: space-between;
		margin-bottom: 50px;
}

.portfolio-column .content-wrapper {
    width: 100%;
}

.portfolio-column h4 {
		margin-bottom: 5px;
}

.portfolio-column h4 a {
		color: indianred;
}

.portfolio-column p {
		width: 100%;
    margin: 0;
}

#section-three hr.divider {
    margin-bottom: 30px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
		@media all and (min-width:769px)  {
		/* Base Styles */
		.content-wrapper {
			max-width: 1024px;
		}

    hr.divider {
        display: none;
    }

		 .skills-column, .about-column {
				width: 30%;
				border-bottom: none;
				min-height: 190px;
			}

			#skills-row, #about-row {
					justify-content: space-between;
			}

		/* Header */
		#header-wrapper {
				justify-content: space-between;
				padding: 20px 0;
		}

	/* Hero Area */
	#hero-area {
			min-height: 600px;
	}

	/* Section one */
	.skills-fontawesome {
			width: 100%;
	}

/* Section-three */
  #portfolio-row {
    justify-content: space-between;
  }

 .portfolio-column {
      width: 40%;
    }
}

@media all and (min-width:1025px) {
/* Base Styles */
.content-wrapper {
		max-width: 1200px;
}

.skills-column, .about-column {
	width: 30%;
}

/* Section One */
#skills-ul {
		margin: 20px 0;
}

#skills-row, #about-row {
		justify-content: space-between;
}

/* Section Three */
#portfolio-row {
		align-items: flex-start;
		justify-content: space-between;
}

.portfolio-column {
		width: 40%;
		margin-bottom: 50px;
}

}
@media all and (min-width:1201px) {

}
@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
